.cards-container{

    display: grid;

    margin-top: 80px;

    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) );

    gap: 16px;

    justify-items: center;

    max-width: 80%;


}

.cards-container .hover{
    transform: scale(110%);
    transition: 1s;
}